*
!resources/
!resources/**
!addons/
!addons/*

!core/
!core/src/
!core/src/main/
!core/src/main/resources/
!core/src/main/resources/**

core/src/main/resources/guis/
core/src/main/resources/languages
core/src/main/resources/evaluator.dll
core/src/main/resources/cachASCII-16.yml
