*
!resources/
!resources/**
!addons/
!addons/*

!outposts/
!outposts/**

!core/
!core/src/
!core/src/main/
!core/src/main/resources/
!core/src/main/resources/**

!core/service/
!core/service/**

core/src/main/resources/evaluator.dll
core/src/main/resources/cachASCII-16.yml

**/build