title: "{$e}地图设置"
type: HOPPER

options:
  scoreboard:
    slot: 0
    material: PAPER
    lore: |
      {$p}用计分板展示王国地图, 
      这会比自动地图模式更加方便, 且能自动更新。

      缺点是它会占据屏幕的一大块, 
      并且你需要记住不同颜色与符号的意思。

      如果你离开, 此选项会被重置。
    enabled:
      condition: scoreboard_enabled
      name: "{$enabled}切换计分板"
      glow: true
    else:
      name: "{$disabled}切换计分板"
  reset:
    slot: 1
    material: PLAYER_HEAD
    name: '&4重置设置'
    
    # https://minecraft-heads.com/custom-heads/alphabet/45282-redstone-block-refresh
    skull: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvNzA1ZWI3ZTA0ODg2ODMyNTRlZGI2NzgyYzVkYjhkMjdjZDA3OGU3ODRkZTJkY2RjZDI1Y2UwODY0ZGZhYmQzOCJ9fX0='
  resize:
    slot: 2
    material: PLAYER_HEAD
    name: '{$p}调整大小'
    lore:
      - "{$p}改变你自己地图的&a宽度{$p}和&a高度"
      - "{$p}当前大小{$sep}: {$p}%kingdoms_map_width%{$p}, {$p}%kingdoms_map_height%"
    
    # https://minecraft-heads.com/custom-heads/decoration/49973-globe
    skull: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODc5ZTU0Y2JlODc4NjdkMTRiMmZiZGYzZjE4NzA4OTQzNTIwNDhkZmVjZDk2Mjg0NmRlYTg5M2IyMTU0Yzg1In19fQ=='
  auto:
    slot: 3
    material: PLAYER_HEAD
    lore:
      - "{$p}你走向不同土地时"
      - "地图会自动出现"
    
    enabled:
      condition: 'auto_map_enabled'
      name: "{$enabled}自动"
      # https://minecraft-heads.com/custom-heads/alphabet/21774-green-checkmark
      skull: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvNDMxMmNhNDYzMmRlZjVmZmFmMmViMGQ5ZDdjYzdiNTVhNTBjNGUzOTIwZDkwMzcyYWFiMTQwNzgxZjVkZmJjNCJ9fX0='
    else:
      name: "{$disabled}自动"
      # https://minecraft-heads.com/custom-heads/miscellaneous/44761-x
      skull: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZDdhY2ZmNThjMjExZTQ2ODA2ZDRhYzlhNzczMjBiZjU3MjUwZWQ4YmY3OTMzZWE0M2FjOGVmMmZkNzBkZWZkYyJ9fX0='
  gui:
    slot: 4
    material: CHEST
    name: "{$p}使用GUI查看地图"
    lore: |
      {$p}优点是点击更方便与突变更清晰, 

      缺点是GUI的大小限制, 且会限制你的移动。
