title: "&8-=( {$sep}Settings &8)=-"
rows: 6
sound: ITEM_BOOK_PAGE_TURN

options:
  back:
    posx: 1
    posy: 1
    material: PLAYER_HEAD
    name: '{$p}Back'
    lore: [ '{$s}Go back to nexus menu.' ]
    skull: eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvNzQxMzNmNmFjM2JlMmUyNDk5YTc4NGVmYWRjZmZmZWI5YWNlMDI1YzM2NDZhZGE2N2YzNDE0ZTVlZjMzOTQifX19
  light-blue-stained-glass-pane:
    slots: [ 1, 2, 6, 7, 8, 9, 17, 18, 21, 23, 26, 27, 29, 30, 32, 33, 35, 36, 39, 41, 44, 45, 53 ]
    material: LIGHT_BLUE_STAINED_GLASS_PANE
    name: ''
  upgrade:
    posx: 5
    posy: 4
    material: NETHER_STAR
    upgrade:
      condition: "level < max_level"
      name: "{$sp}Upgrade{$colon} {$s}%roman@level% {$arrow} {$s}%roman@next_level%"
      material: NETHER_STAR
      lvl-I:
        condition: 'level == 1'
        lore: |
          {$dot} {$p}&lMisc Upgrades{$colon}
            {$sdot} {$s}Unlock Insanity

          {$dot} {$p}&lPowerups{$colon}
            {$sdot} {$s}All Upgrades{$colon} {$sp}{$lvlup} Lvl. 30

          {$dot} {$p}&lChampion Upgrades{$colon}
            {$sdot} {$s}Unlock Throw
            {$sdot} {$s}Unlock Damage Cap
            {$sdot} {$s}Health{$colon} {$sp}{$lvlup} Lvl. 30

          {$dot} {$p}&lTurrets{$colon}
            {$sdot} {$s}Unlock Healing Turret
            {$sdot} {$s}Unlock Flame Turret

          {$dot} {$p}&lStructures{$colon}
            {$sdot} {$s}Unlock Powercell
            {$sdot} {$s}Unlock Outpost

          {$p}Max Level{$colon} {$s}%roman@max_level%
          {$p}Cost{$colon} {$s}%fancy@upgrade_cost%
      lvl-II:
        condition: 'level == 2'
        lore: |
          {$dot} {$p}&lMisc Upgrades{$colon}
            {$sdot} {$s}Unlock Guards
            {$sdot} {$s}Unlock Glory
            {$sdot} {$s}Unlock Keep Inventory

          {$dot} {$p}&lPowerups{$colon}
            {$sdot} {$s}All Upgrades{$colon} {$sp}{$lvlup} Lvl. 40

          {$dot} {$p}&lChampion Upgrades{$colon}
            {$sdot} {$s}Unlock Drag
            {$sdot} {$s}Unlock Thor
            {$sdot} {$s}Health{$colon} {$sp}{$lvlup} Lvl. 40

          {$dot} {$p}&lTurrets{$colon}
            {$sdot} {$s}Unlock Psionic Turret
            {$sdot} {$s}Unlock HellFire Turret

          {$dot} {$p}&lStructures{$colon}
            {$sdot} {$s}Unlock Extractor

          {$p}Max Level{$colon} {$s}%roman@max_level%
          {$p}Cost{$colon} {$s}%fancy@upgrade_cost%
      lvl-III:
        condition: 'level == 3'
        lore: |
          {$dot} {$p}&lMisc Upgrades{$colon}
            {$sdot} {$s}Unlock Nexus Guards
            {$sdot} {$s}Keep Inventory{$colon}: {$sp}{$lvlup} Lvl. 2

          {$dot} {$p}&lPowerups{$colon}
            {$sdot} {$s}All Upgrades{$colon} {$sp}{$lvlup} Lvl. 50

          {$dot} {$p}&lChampion Upgrades{$colon}
            {$sdot} {$s}Unlock Reinforcements

          {$dot} {$p}&lTurrets{$colon}
            {$sdot} {$s}Unlock Heatbeam Turret
            {$sdot} {$s}Unlock Soldier Turret

          {$dot} {$p}&lStructures{$colon}
            {$sdot} {$s}Unlock WarpPad Structure
            {$sdot} {$s}Unlock Regulator Structure

          {$p}Max Level{$colon} {$s}%roman@max_level%
          {$p}Cost{$colon} {$s}%fancy@upgrade_cost%
      lvl-IV:
        condition: 'level == 4'
        lore: |
          {$dot} {$p}&lMisc Upgrades{$colon}
            {$sdot} {$s}Unlock Flight
            {$sdot} {$s}Keep Inventory{$colon}: {$sp}{$lvlup} Lvl. 3

          {$dot} {$p}&lPowerups{$colon}
            {$sdot} {$s}All Upgrades{$colon} {$sp}{$lvlup} Lvl. 70

          {$dot} {$p}&lChampion Upgrades{$colon}
            {$sdot} {$s}Unlocks Burst

          {$dot} {$p}&lTurrets{$colon}
            {$sdot} {$s}Unlock Inferno Turret

          {$dot} {$p}&lStructures{$colon}
            {$sdot} {$s}Unlock Siege Cannon

          {$p}Max Level{$colon} {$s}%roman@max_level%
          {$p}Cost{$colon} {$s}%fancy@upgrade_cost%
      else:
        lore: [ "&cUnknown Kingdom Upgrade: %level%" ]
    maxxed:
      name: "{$sp}Kingdom Level{$colon} {$s}%roman@level% {$sep}(&5Maxxed{$sep})"
      material: NETHER_STAR
  public-home:
    posx: 4
    posy: 1
    material: DARK_OAK_DOOR
    name: "{$s}Public Home{$colon} %kingdoms_bool_kingdom_home_is_public%"
    lore: |
      {$sep}When your home is public, anyone
      can teleport to it using
      {$p}/k home %kingdoms_kingdom_name%

      {$p}Left-click {$sep}to toggle public homes.
      {$p}Right-click {$sep}to set public home cost.
      This cost is only for people outside of your
      kingdom.
      {$p}Current Home Tax{$colon} {$s}%kingdoms_kingdom_taxes_home%

      {$note} Both kingdoms need to have
      the HOME relationship attribute for
      your relationship for this to work.
  hidden:
    posx: 5
    posy: 1
    material: POTION
    color: 818595
    name: "{$s}Hidden{$colon} %kingdoms_bool_kingdom_is_hidden%"
    lore: |
      {$sep}Hidden kingdoms aren't displayed
      in {$p}/k map {$sep}and online maps.
  tax:
    posx: 6
    posy: 1
    material: PAPER
    name: '{$s}Tax'
    lore: |
      {$sep}Change your kingdom taxes
      for members.

      {$s}Member Tax Equation{$colon}
      {$p}%tax_equation%
      {$s}Your Personal Tax{$colon} {$p}$%fancy@kingdoms_tax%

      {$s}Kingdom Tax{$colon} {$p}$%fancy@kingdoms_kingdom_tax%
  blue-stained-glass-pane:
    slots: [ 10, 11, 12, 13, 14, 15, 16, 19, 25, 28, 34, 37, 43, 46, 47, 48, 49, 50, 51, 52 ]
    material: BLUE_STAINED_GLASS_PANE
    name: ''
  relations:
    posx: 3
    posy: 3
    material: WRITABLE_BOOK
    name: '{$s}Relations'
    lore: |
      {$sep}Change your relation attributes
      for other kingdoms.

      {$sep}[&e!{$sep}] {$es}In order for some attributes
      to work, both kingdoms need to have the
      attribute enabled for the relationship.

      For example, if you have {$e}BUILD {$es}attribute
      enabled for allies, but you're trying to
      build in an ally's land that doesn't
      have {$e}BUILD {$es}attribute enabled for allies,
      this won't work. They won't be able to
      build in your land either.
  flag:
    posx: 5
    posy: 3
    material: BLACK_BANNER
    name: '{$s}Flag'
    lore: |
      {$sep}Set your kingdom flag for Dynmap.
      Click to see your flag URL.
      This won't update the map instantly.
  pacifism:
    posx: 7
    posy: 3
    material: END_CRYSTAL
    name: '{$s}Pacifist{$colon} %kingdoms_bool_kingdom_is_pacifist%'
    lore: |
      {$sep}When you're in pacifism mode,
      your kingdom cannot invade
      and cannot be invaded by other kingdoms.

      If you invade a Kingdom, you cannot go
      back into pacifism mode for a week.
      {? pacifism_left > 0 ? "
      {$p}Cooldown{$colon} {$s}%pacifism_cooldown%" }
  invites:
    posx: 3
    posy: 5
    material: BOOK
    name: '{$s}Requires Invite{$colon} %kingdoms_bool_kingdom_requires_invite%'
    lore: |
      {$sep}When turned off, anyone can
      join this kingdom without needing
      an invitation with {$p}/k join %kingdoms_kingdom_name%
  color:
    posx: 5
    posy: 5
    material: LIME_DYE
    name: '{$s}Color{$colon} &c%r%{$sep}, {$p}%g%{$sep}, {$sp}%b% {$sep}(%hex@kingdoms_kingdom_color%%kingdoms_kingdom_color%{$sep})'
    lore: |
      {$sep}Set your kingdom marker
      color for chat and online land maps.
  shields:
    posx: 7
    posy: 5
    material: SHIELD
    name: '{$s}Shield{$colon} {$p}%time@kingdoms_shield_time_left%'
    lore: |
      {$sep}Buy a shield for your
      kingdom to protect your kingdom
      against invades.
